<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- 40414:39-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
    	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="../static/css/plugins.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="../static/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form id="loginForm" onsubmit="loginUser(event)">
        	<div class="row">
        		 <label for="loginEmail">
                    Email:
                    <input type="email" name="email" id="loginEmail" placeholder="Enter email" required />
                </label>
        	</div>
            <div class="row">
            	<label for="loginPassword">
                    Password:
                    <input type="password" name="password" id="loginPassword" placeholder="Enter password" required />
                </label>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<!--end of login form popup-->

<!--end of login form popup-->
<!--signup form popup-->
<!--signup form popup-->
<div class="login-wrapper" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form id="signupForm" onsubmit="signupUser(event)">


            <div class="row">
                <label for="signupEmail">
                    Your Email:
                    <input type="email" name="email" id="signupEmail" placeholder="Enter email" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="signupPassword">
                    Password:
                    <input type="password" name="password" id="signupPassword" placeholder="Enter password" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="repassword-2">
                    Re-type Password:
                    <input type="password" name="repassword" id="repassword-2" placeholder="Re-enter password" required="required" />
                </label>
            </div>

           <div class="row">
             <button type="submit">Sign Up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="/"><img class="md-logo" src="../static/images/logo1.png" alt=""></a>
				<img src="../static/images/uploads/err-img.png" alt="">
				<h1>Page not found</h1>
				<a href="/" class="redbtn">go home</a>
			</div>
		</div>
	</div>
</div>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/plugins2.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/firebase.js"></script>
</body>

<!-- 40414:54-->
</html>