<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- moviesingle07:38-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
		<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
	 <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="../static/css/plugins.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="../static/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form id="loginForm" onsubmit="loginUser(event)">
        	<div class="row">
        		 <label for="loginEmail">
                    Email:
                    <input type="email" name="email" id="loginEmail" placeholder="Enter email" required />
                </label>
        	</div>
            <div class="row">
            	<label for="loginPassword">
                    Password:
                    <input type="password" name="password" id="loginPassword" placeholder="Enter password" required />
                </label>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<!--end of login form popup-->

<!--end of login form popup-->
<div class="login-wrapper" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form id="signupForm" onsubmit="signupUser(event)">
            <div class="row">
        		 <label for="signupName">
                    Username:
                    <input type="text" name="username" id="signupName" placeholder="Aarnov Adhikari" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>


            <div class="row">
                <label for="signupEmail">
                    Your Email:
                    <input type="email" name="email" id="signupEmail" placeholder="Enter email" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="signupPassword">
                    Password:
                    <input type="password" name="password" id="signupPassword" placeholder="Enter password" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="repassword-2">
                    Re-type Password:
                    <input type="password" name="repassword" id="repassword-2" placeholder="Re-enter password" required="required" />
                </label>
            </div>

           <div class="row">
             <button type="submit">Sign Up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
    <div class="navbar-header logo">
        <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <a href="/"><img class="logo" src="../static/images/logo1.png" alt="" width="119" height="58"></a>
    </div>

    <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav flex-child-menu menu-left"></ul>
        <ul class="nav navbar-nav flex-child-menu menu-right">
            <li class="loginLink"><a href="#" id="login-btn">LOG In</a></li>
            <li class="btn signupLink"><a href="#" id="signup-btn">sign up</a></li>
            <li class="btn signoutLink" id="signout-btn" style="display:none;"><a href="#">Sign Out</a></li>
        </ul>
    </div>
</nav>
	    <!-- top search form -->
	    <div class="top-search">
	    	<select>
				<option value="united">TV show</option>
				<option value="saab">Others</option>
			</select>
			<input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
	    </div>
	</div>
</header>
<!-- END | Header -->

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{movie.Image}}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{movie.Name}}</h1>

					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{movie.Rating}}</span> /10<br>
								<span class="rv">{{ reviews|length }} Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							      <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
        <i class="ion-ios-star-outline"></i>
							<button id="submitRating" class="redbtn">Submit Rating</button>


						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>

							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-12 col-sm-12 col-xs-12">
						            		<p>{{movie.Overview}} </p>


											<div class="title-hd-sm">
												<h4>Analyzied Key Points:</h4>
											</div>
											<!-- movie user review -->
											<div class="mv-user-review-item">
												<h3>{{movie.mitho}}</h3>
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">

						           <div class="row">
									<div class="top-search">
    <input type="text" id="reviewTitle" style="margin-bottom: 5pt" placeholder="Title of the Review">
</div>
<textarea id="reviewText" style="font-size: 12pt;" placeholder="Write your review here"></textarea><br>

    <a id="submitReview" class="redbtn">Submit Review</a>


{% for review in reviews %}
    <div class="mv-user-review-item">
        <div class="user-infor">
            <img src="../static/images/uploads/userava1.jpg" alt="">
            <div>
                <h3>{{ review.title }}</h3>
                <div class="no-star">
                    {% if 'rating' in review %}
                        {% set rating = review.rating|int %}
                        {% for i in range(rating) %}
                            <i class="ion-android-star"></i>
                        {% endfor %}
                        {% for i in range(10 - rating) %}
                            <i class="ion-android-star last"></i>
                        {% endfor %}
                    {% else %}
                        <p>No rating available</p>
                    {% endif %}
                </div>
                <p class="time">
                    {{ review.createdAt.strftime('%Y-%m-%d %H:%M') }} by <a href="#">{{ review.username }}</a>
                </p>
            </div>
        </div>
        <p>{{ review.text }}</p>
    </div>
{% endfor %}


									     <br><br>

										<div class="topbar-filter">
											<label>Reviews per page:</label>
											<select>
												<option value="range">5 Reviews</option>
												<option value="saab">10 Reviews</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 6:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="index-2.html"><img class="logo" src="../static/images/logo1.png"  width="150px"></a>
            </div>
            <div class="flex-child-ft item2">
                <p>Error 404<br>
                Kathamndu,<b> NEPAL</b></p>
                <p>Email: <a href="#">error404@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer section-->

<script src="../static/js/jquery.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/plugins2.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/firebase.js"></script>
<script>


	document.addEventListener('DOMContentLoaded', function () {
    const stars = document.querySelectorAll('.rate-star i');

    stars.forEach(star => {
        star.addEventListener('click', function () {
            if (this.classList.contains('ion-ios-star-outline')) {
                this.classList.remove('ion-ios-star-outline');
                this.classList.add('ion-ios-star');
            } else {
                this.classList.remove('ion-ios-star');
                this.classList.add('ion-ios-star-outline');
            }
        });
    });
});


document.addEventListener('DOMContentLoaded', function () {
    const submitReviewButton = document.getElementById('submitReview');
    const submitRatingButton = document.getElementById('submitRating');

    // Handle review submission
    if (submitReviewButton) {
        submitReviewButton.addEventListener('click', async (event) => {
            event.preventDefault();

            const movieId = window.location.href.split('/').pop();  // Extract movie ID from URL
            const reviewTitle = document.getElementById('reviewTitle').value;
            const reviewText = document.getElementById('reviewText').value;

            const user = firebase.auth().currentUser;

            if (user) {
                const userId = user.uid;

                // Ensure user has submitted a rating before allowing review submission
                try {
                    const ratingDoc = await db.collection('Movies').doc(movieId).collection('ratings').doc(userId).get();

                    if (ratingDoc.exists) {
                        const userRating = ratingDoc.data().rating;

                        // Proceed with review submission
                        const userDoc = await db.collection('users').doc(userId).get();
                        if (userDoc.exists) {
                            const username = userDoc.data().username;

                            // Add the review to the 'reviews' subcollection
                            await db.collection('Movies').doc(movieId).collection('reviews').add({
                                title: reviewTitle,
                                text: reviewText,
                                userId: userId,
                                username: username,
                                rating: userRating,  // Include the rating in the review
                                createdAt: firebase.firestore.FieldValue.serverTimestamp()
                            });

                            alert("Review submitted successfully!");

                        } else {
                            console.error("User document not found");
                            alert("Error: User data not found.");
                        }
                    } else {
                        alert("Please rate the movie before submitting your review.");
                    }
                } catch (error) {
                    console.error("Error submitting review: ", error);
                    alert("Error submitting review. Please try again.");
                }
            } else {
                alert("Please log in to submit a review.");
            }
        });
    } else {
        console.error("Submit Review button not found");
    }

    // Handle rating submission
    if (submitRatingButton) {
        submitRatingButton.addEventListener('click', async (event) => {
            event.preventDefault();

            const movieId = window.location.href.split('/').pop();  // Extract movie ID from URL
            const rating = document.querySelectorAll('.rate-star i.ion-ios-star').length; // Number of gold stars

            const user = firebase.auth().currentUser;

            if (user) {
                const userId = user.uid;

                try {
                    // Store the rating in the 'ratings' collection
                    await db.collection('Movies').doc(movieId).collection('ratings').doc(userId).set({
                        userId: userId,
                        rating: rating
                    });

                    alert("Rating submitted successfully!");

                } catch (error) {
                    console.error("Error submitting rating: ", error);
                    alert("Error submitting rating. Please try again.");
                }
            } else {
                alert("Please log in to submit a rating.");
            }
        });
    } else {
        console.error("Submit Rating button not found");
    }
});




</script>




</body>

<!-- moviesingle11:03-->
</html>